{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"\>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i> Secrets </i></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
          <li><a hrf='{% url register}'>Register</a></li>
          <li><a href="#"> My cart</a></li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    </body>