{% extends 'secretsmodules/base.html' %}
{% block content %}
<div>
   <h1> Cart details </h1>
   <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-secondary" href="/checkout"> Checkout now </a>
      <a class="btn btn-secondary" href="/"> keep shopping </a>
   </div>
   <div class="container">
      <div class="row">
         <table class="table  table-striped">
            <thead>
               <tr>
                  <th scope="col">Secret Title</th>
                  <th scope="col">Secret Quantity</th>
                  <th scope="col">Secret Price</th>
                  <th scope="col">Checkout</th>
                  <th scope="col">Remove</th>
               </tr>
            </thead>
            <tbody>
               {% for key, value in request.session.cart.items %}
               <tr>
                  <td>
                     {{ value.secret}}
                  </td>
                  <td> {{value.quantity}}</td>
                  <td> {{value.price}}</td>
                  <td> <button type="button" class="btn btn-success">Checkout</button></td>
                  <td> <button type="button" class="btn btn-warning">Remove</button></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}