{% extends 'secretsmodules/base.html' %}
    {% block content %}
<div>
    <h1> Cart details </h1>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Checkout now</button>
      <button type="button" class="btn btn-secondary">keep shopping</button>
    </div>
    {{request.session.cart}}
     <div class="container">
        <div class="row">
            {% for item in request.session.cart %}
            <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 secret-entry' >
                        <h4>
                        {{request.session.cart.item.fields.title}}
                        </h4>
            </div>
            {% endfor %}
        </div>
     </div>
</div>
{% endblock %}
