{% extends "secretsmodules/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    {% if all_secrets %}
    {% for secret in all_secrets %}
    <div class="col-4 secret-entry">
        <h4>
            {{secret.title}}
        </h4>
        <div class="" style="min-height: 150px">
            {{secret.description}}
        </div>
        {% if secret.picture %}
        <img src="{{ secret.picture.url }}" alt="Error" height=100px>
        {% else %}
        <img src="{% static 'images/sandman.jpg' %}" height=100px>
        {% endif %}
        <br>
        <a href="{% url 'secretsmodules:add_to_cart' secret_id=secret.id %}">Add item</a>
        Buy  {{secret.price }} $
        </a>
        <button type="button" class="btn btn-primary"> <a class="detail_button" href="{% url 'secretsmodules:details' secret.id %}">
        Details
        </a>
        </button>
    </div>
    {% endfor %}
</div>
{% else %}
<h3>No Secrets Found</h3>
{% endif %}
</div>
{% endblock %}