{% extends "secretsmodules/base.html" %}
  {% block content %}

    <div class="jumbotron">
        <form class="" action="" method="post">
            {% csrf_token %}
            <label for="username">username</label>
            <input class="" type="text" name="username" value="" required>
            <br>
            <label for="password">password</label>
            <input type="password" name="password" value="" required>
            <br>
            <input type="hidden" name = "bctch">
            <input type="submit" class='btn btn-primary' value="Log In">
        </form>
    </div>

  {% endblock %}
